body{
	font-family: helvetica;
	font-size: 30px;
}

button{
display: block;
font-family: helvetica;
color: white;
background-color: rebeccapurple;
border-color: skyblue;
border-style: dotted;
margin: 2 rem auto;
	font-size: 25px;
	border-radius: 25px;
			  display: block;
			  margin: auto;
}

button:: before{
content: 'hide';
}

div{
	background-color: rebeccapurple;
			  width: 300px;
			  height: 300px;
				border-radius: 50%;
				margin: 0 auto;
}

.square{
			position: absolute;
			background-color: hotpink;
			  width: 300px;
			  height: 300px;
			  top: 800px;
			  left: 820px;
			x-transition: all 1s ease-in;
  		animation: idk 1.7s infinite;  
			transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
			}

	@keyframes idk {
  0% {
    left: 0px;
  }
  50% {
    left: 1400px;
  }
  100% {
    left: 000;
  }

}
}}