h1{
	padding-top:  50px;
	color:  orangered;
	font-family: Helvetica, sans-serif;
	font-size: 200px;
}

h2{
	padding-right: 350px;
	padding-left: 350px;
	font-family: Helvetica, sans-serif;
}
main{
	padding-top: 100px;
	padding-right: 400px;
	padding-left: 400px;
	font-family: Helvetica, sans-serif;
}

h3{
	font-family: Helvetica, sans-serif;
}

h3{
	color:  orangered;
}

h4{
	color: slateblue;
}

body {background-color: lightgoldenrodyellow;}

