h2{
	font-family: Helvetica;
	position: fixed;
	color: cadetblue;
	font-size: 20px;
	
}

#speaker{
	font-family: Helvetica;
	display: inline-block;
	color: cadetblue;
	padding-left: 300px;
	position: absolute;
	top: 82.3%;
}

#speaker2{
	font-family: Helvetica;
	display: inline-block;
	padding-left: 300px;
	position: absolute;
	top: 86%;
}

#container1{
	font-family: Helvetica;
	display: block;
	float: left;
 position: fixed;
    top: 10%;

	color: cadetblue;
	width: 250px;
	height: 55px;
	padding: 10px;
	

}


#container2{
	font-family: Helvetica;
	display: block;
	 float: left;
    clear: left;
     position: fixed;
    top: 19%;


	color: cadetblue;
	width: 250px;
	height: 300px;
    height: 73px;
    padding: 10px;
   
}

#container3{
	font-family: Helvetica;
	display: block;
	color: cadetblue;
	width: 250px;
	height: 40px;
	padding: 10px;
	float: left;
	clear: left;
	 position: fixed;
    top: 28%;

   
}

#container4{
	font-family: Helvetica;
	display:block;
	color: cadetblue;
	width: 250px;
	height: 40px;
	padding: 10px;
	float: left;
	clear: left;
	 position: fixed;
    top: 35%;
	
 
}

#samaaya{
	font-family: Helvetica;
	color: cadetblue;
	font-style: italic;
	padding-top: 15px;
	padding-bottom: 15px

}


main{
	font-family: Helvetica;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 350px;
	padding-right: 550px;

}
