body{
	background-color: black;
}

h2{
	position: absolute;
	font-family: helvetica;
	font-size: 25px;
	color: white;
	z-index: 0;
}


.another{
				position: absolute;
			 background-color: yellow;
			 border-radius: 25px;
			  width: 400px;
			  height:400px;
			   bottom: 0px;
			  right: 0px;
			  z-index: 0;

			 x-transition: all 2s ease-in-out;
  		animation: ani6 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;

			}


			.square{
			position: absolute;
			 background-color: rebeccapurple;
			  width: 1200px;
			  height: 300px;
			  top: 100px;
			  left: 500px;
			  z-index: 3;
				
			x-transition: all 1s ease-in;
  		animation: idk 1.7s infinite;  
			transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
			}

			.div1{
				position: absolute;
			 background-color: orange;
			 border-radius: 25px;
			  width: 600px;
			  height:300px;
			   top: 140px;
			  left: 300px;

			x-transition: all 1s ease-in-out;
  		animation: ani4 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
			}


			.div2{
				position: absolute;
				background-color: limegreen;
			  width: 300px;
			  height: 800px;
			  top: 300px;
			 
				  x-transition: all 1s ease;
  				animation: ani2 1.7s infinite;
					transition-property: background-color;
  				transition-duration: 800ms;
  				transition-timing-function: ease-in-out;
          transition-delay: 100ms;
							 
			}


			.div3{
				position: absolute;
				background-color: red;
			  width: 180px;
			  height: 180px;
			  left: 900px;
			  bottom: 0px;

			  x-transition: all 1s ease-in;
  		animation: idk 1.7s infinite;  
			transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
		
			}


		.cir3{
				position: absolute;
				background-color: lightgoldenrodyellow;
			  width: 400px;
			  height: 200px;
			  border-radius: 50%;
			  transform: rotate(45deg);
			  z-index: 4;
			  
			 top: 0px;
			 left: 800px;	

			   	x-transition: all 2s ease-in-out;
  		animation: colors2 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;		
			}


			.cir2{
				position: absolute;
			background-color: deeppink;
			  width: 300px;
			  height: 300px;
			  border-radius: 50%;
			   top: 180px;
			  left: 900px;
				z-index: 4;

					x-transition: all 1s ease-in-out;
  		animation: ani4 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
			  
			  }


			.tri2{
				position: absolute;
				background-color: darkmagenta;
			  width: 100px;
			  height: 200px;
			  border-radius: 50%;
			  top: 460px;
			  left: 1300px;
			  z-index: 1;

			  x-transition: all 2s ease-in-out;
  		animation: colors2 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
			}

			.another4{
				position: absolute;
				background-color: blue;
			  width: 400px;
			  height: 290px;
			  border-radius: 50%;
			  top: 460px;
			  left: 580px;

			x-transition: all 2s ease-in-out;
  		animation: colors 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
			}


			.tri3{
				position: absolute;
			 background-color: turquoise;
			 transform: rotate(145deg);
			  width: 500px;
			  height: 250px;
			  border-radius: 50%;
			 top: 500px;
			  left: 700px;

 	x-transition: all 2s ease-in-out;
  		animation: ani5 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms; 

			}


			.tri4{
				background-color: HOTPINK;
			  width: 350px;
			  height: 350px;
				border-radius: 50%;
			  position: absolute;
			  top: 0px;
			  left: 100px;


			  	x-transition: all 2s ease-in-out;
  		animation: ani5 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;

			}

						.tri4{
				background-color: teal;
			  width: 300px;
			  height: 200px;
				border-radius: 50%;
			  position: absolute;
			  top: 0px;
			  left: 400px;


			  	x-transition: all 2s ease-in-out;
  		animation: ani7 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;

			}


			.tri6{
				animation-duration: 3.5s;
				animation-timing-function: linear;
				animation-delay: 0s;
				background-color: skyblue;
			  width: 100px;
			  height: 100px;
				border-radius: 50%;
			  position: absolute;
			  top: 850px;
			  left: 1180px;

			x-transition: all 2s ease-in-out;
  		animation: idk 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
				     
}

 
.tri1{
				position: absolute;
			 background-color: lightgoldenrodyellow;
			  width: 50px;
			  height: 750px;
			 top: 700px;
			  left: 50px;

			x-transition: all 2s ease-in-out;
  		animation: ani7 1.7s infinite;	
  		transition-property: background-color;
  		transition-duration: 800ms;
  		transition-timing-function: ease-in-out;
  		transition-delay: 300ms;
				
			}



  @keyframes ani5 {
  0% {
    bottom: 50;
  }
  50% {
    left: 300px;
  }
  100% {
    bottom: 50;
  }

			}



  @keyframes ani2 {
  0% {
    left: 300;
  }
  50% {
    left: 800px;
  }
  100% {
    left: 300;
  }

			}


	@keyframes idk {
  0% {
    left: 000;
  }
  50% {
    left: 800px;
  }
  100% {
    left: 000;
  }

}
}

	@keyframes ani3 {
  0% {
    left: 900;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 900;
  }
}

		@keyframes ani4 {
  0% {
    top: 0;
  }
  50% {
    top: 500px;
  }
  100% {
    top: 0;
  }

}

 @keyframes ani6 {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 300px;
  }
  100% {
    bottom: 0;
  }
}

 @keyframes ani7 {
  0% {
    top: 800;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 800;
  }
}


@keyframes colors {
  0% {
      background-color: HOTPINK;
  }
  50% {
    background-color: yellow;
    color: rgba(200,155,20,0.8);
  }
  100% {
    background-color: limegreen;
  }
}

@keyframes colors2 {
  0% {
      background-color: orange;
  }
  50% {
    background-color: red;
    color: rgba(200,155,20,0.8);
  }
  100% {
    background-color: rebeccapurple;
  }
}
}







